/* General */

body {
  word-break: break-word;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;  
}

h1,
h2,
h3,
h4,
.h4,
h5,
h6 {
  font-weight: 700;
  font-family: inherit;
  line-height: 1.375;
  word-break: break-word;
}

.h3, h3 {
    font-size: 1.5rem;
}

section {
  padding: 3rem 0;
}

a {
  color: #dd376f;
}

.scroll-to-top {
  z-index: 1000;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.5rem;
}

.jaune-degrade {
  background: linear-gradient(180deg,#ffffffff 0,#fbe357ff 100%);
}


/* Nav */

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

.navbar-brand img {
  max-width: 155px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-shrink img {
  max-width: 120px;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }

  #mainNav .navbar-nav {
    margin-top: 0;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link.active,
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: #fff;
    background: #dd376f;
  }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}


/* Masterhead */

header.masthead {
  padding-top: 8rem;
  padding-bottom: 2rem;
}

header.masthead h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
}

header.masthead p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 7rem;
  }
}


/* Teaser */

.bulle {
  border-radius: 25px;
}

.arrow-down-gauche {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  margin-left: 53%;
  margin-bottom: 3rem;
}

.arrow-down-droite {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  margin-left: 35%;
}

@media (min-width: 992px) {
  .arrow-down-gauche {
    margin-left: 67%;
    margin-bottom: 1rem;
  }

  .arrow-down-droite {
    margin-left: 25%;
  }
}


/* Deroulé */

@media (min-width: 992px) {
  .deroule--etapes {
    min-height: 130px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .deroule--etapes {
    min-height: 100px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .deroule--etapes {
    min-height: 145px;
  }
}


/* Form */

.floating-label-form-group {
  position: relative;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  position: relative;
  z-index: 1;
  background: none;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.75em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #dd376f;
}

.form-control {
  border-radius: 0.5rem;
  padding: 1.5rem 1.25rem;
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

@media (min-width: 992px) {
  form {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


/* iframe */

.container-carte {
  position: relative; 
  overflow: hidden; 
  padding-top: 56.25%;
}

.style-carte { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  border: 0; 
}


/* bootstrap custom */

.bg-primary {
  background-color: #dd376f !important;
}

.bg-secondary {
  background-color: #4185c1 !important;
}

.bg-tertiary {
  background-color: #41ad8e !important;
}

.bg-quarterary {
  background-color: #fbe357 !important;
}

.bg-primary-low {
  background-color: #ffd8d9 !important;
}

.bg-secondary-low {
  background-color: #b9d3ed !important;
}

.bg-tertiary-low {
  background-color: #cff6dc !important;
}

.bg-quarterary-low {
  background-color: #fef6ba !important;
}

.text-primary {
  color: #dd376f !important;
}

.text-secondary {
  color: #4185c1 !important;
}

.text-tertiary {
  color: #41ad8e !important;
}

.text-quarterary {
  color: #fbe357 !important;
}

.btn-primary {
  background-color: #dd376f;
  border-color: #dd376f;
  border-radius:30px;
}

.btn-secondary {
  background-color: #4185c1;
  border-color: #4185c1;
  border-radius:30px;
}

.btn-tertiary {
  background-color: #41ad8e;
  border-color: #41ad8e;
  border-radius:30px;
}

.btn-primary:hover,
button.bg-primary:hover {
  color: #fff;
  background-color: #5a6268 !important;
  border-color: #5a6268;
}

.rounded {
  border-radius: 1.5rem !important;
}

.separator {
  float: left;
  height: 7px;
  width: 50px;
}

.is-centered {
  display: flex;
  justify-content: center;
}

#parcours {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  overflow: visible;
}

@media (min-width: 1200px) {
  #parcours .etape {
    flex: 1;
    padding-right: 1rem;
  }
}

@media (max-width: 1199px) {
  #parcours .etape {
    flex: 0 0 calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
    padding-right: 1rem;
  }
}

@media (max-width: 992px) {
  #parcours {
    flex-direction: column;
  }
  
  #parcours .etape {
    flex: 1;
    max-width: 100%;
  }
}

#parcours p {
  margin: 0;
}
#parcours ul {
  padding-left: 0.75rem;
}
#parcours article {
  overflow: visible;
}

#parcours .etape {
  overflow: visible;
}


#parcours .etape-card {
  border: solid 1px #d9d9d9;
  clip-path: polygon(
    0 0,                      /* top-left normal */
    calc(100% - 0.5rem) 0,     /* start of top-right cut */
    100% 0.5rem,                /* end of top-right cut */
    100% 100%,                /* bottom-right normal */
    0.5rem 100%,                /* start of bottom-left cut */
    0 calc(100% - 0.5rem)       /* end of bottom-left cut */
  );
  background: #d9d9d9;

  font-size: 0.81rem;
}

#parcours .etape-card-inside {
  /* Repeat the same params but with transparent backgroud to have only a thin border displayed */
  border: transparent 1px white;
  clip-path: polygon(
    0 0,
    calc(100% - 0.5rem) 0,
    100% 0.5rem,
    100% 100%,
    0.5rem 100%,
    0 calc(100% - 0.5rem)
  );
  background: white;
  padding: 0.5rem;
  text-align: center;
  align-content: center;
}

#parcours .etape h1 {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  margin: 0;
  border-radius: 1rem;
  word-spacing: 999rem;
}

#parcours #etape-experimentee h1,
#parcours #etape-formateurrice h1{
  color: white;
}

#parcours .etape .etape-details {
  margin-left: 0.75rem;
  padding: 1rem 0 1rem 0.5rem;
}

#parcours #etape-neoanim .etape-details {
  border-left: solid #d9d9d9 0.25rem;
}

#parcours #etape-neoanim h1 {
  background: #d9d9d9;
}

#parcours #etape-neoanim-cards {
  height: 15rem;
  position: relative;
  overflow: visible;
}

#parcours #etape-neoanim-cards #etape-neoanim-toptext {
  position: absolute;
  top: 0;
  width: 100%;
}

#parcours #etape-neoanim-cards #etape-neoanim-participation {
  position: absolute;
  width: 43%;
  top: 9rem;
  left: -10%;
  transform: translateY(-50%);
}

@media (max-width: 1200px) {
  #parcours #etape-neoanim-cards #etape-neoanim-participation {
    width: 38%;
    left: -5%;
  }
}

#parcours #etape-neoanim-cards #etape-neoanim-formation-3h {
  position: absolute;
  width: 50%;
  top: 6rem;
  right: 0;
  transform: translateY(-50%);
  overflow: visible;
}

#parcours #etape-neoanim-cards #etape-neoanim-formation-7h {
  position: absolute;
  width: 50%;
  top: 12rem;
  right: 0;
  transform: translateY(-50%);
}

#parcours #etape-neoanim-cards #etape-neoanim-formation-7h small {
  font-size: 78%;
}

#parcours #etape-neoanim-cards #etape-neoanim-participation-formation-3h-connector {
  position: absolute;
  left: 33%;
  top: 6rem;
  width: 17%;
  height: 3rem;
  background-color: #d9d9d9;
  pointer-events: none;
  background: linear-gradient(to bottom right, transparent calc(50% - 0.75px), #d9d9d9 calc(50% - 0.5px), #d9d9d9 calc(50% + 0.5px), transparent calc(50% + 0.75px));
}

#parcours #etape-neoanim-cards #etape-neoanim-participation-formation-7h-connector {
  position: absolute;
  left: 33%;
  top: 9rem;
  width: 17%;
  height: 3rem;
  background-color: #d9d9d9;
  pointer-events: none;
  background: linear-gradient(to top right, transparent calc(50% - 0.75px), #d9d9d9 calc(50% - 0.5px), #d9d9d9 calc(50% + 0.5px), transparent calc(50% + 0.75px));
}

#parcours #etape-neoanim-cards #etape-neoanim-formation-3h-connector {
  position: absolute;
  right: -1.5rem;
  top: 6rem;
  width: 1.5rem;
  height: 1px;
  background-color: #d9d9d9;
  transform: translateY(-50%);
  pointer-events: none;
}

#parcours #etape-neoanim-cards #etape-neoanim-formation-7h-connector {
  position: absolute;
  right: -1.5rem;
  top: 12rem;
  width: 1.5rem;
  height: 1px;
  background-color: #d9d9d9;
  transform: translateY(-50%);
  pointer-events: none;
}

#parcours #etape-neoanim-prix {
  font-size: 1rem;
}

#parcours #etape-autonome {
}

#parcours #etape-autonome-cards {
  height: 15rem;
  position: relative;
}

#parcours #etape-autonome-cards #etape-autonome-formation-3h {
  position: absolute;
  top: 3rem;
  width: 100%;
  font-size: 0.85rem;
  font-style: italic;
}

#parcours #etape-autonome-cards #etape-autonome-animation {
  position: absolute;
  width: 100%;
  top: 6rem;
  right: 0;
  transform: translateY(-50%);
}

#parcours #etape-autonome-cards #etape-autonome-formation-7h {
  position: absolute;
  top: 9rem;
  width: 100%;
  font-size: 0.85rem;
  font-style: italic;
}

@media (min-width: 993px) {
  #parcours #etape-autonome-cards #etape-autonome-formation-3h, #parcours #etape-autonome-cards #etape-autonome-formation-7h {
    display: none;
  }
}

@media (min-width: 768px) {
  #parcours #etape-autonome-cards #etape-autonome-formation-3h {
    top: 3.5rem;
  }

  #parcours #etape-autonome-cards #etape-autonome-formation-7h {
    top: 9.5rem;
  }
}


#parcours #etape-autonome-cards #etape-autonome-coaching {
  position: absolute;
  width: 100%;
  top: 12rem;
  right: 0;
  transform: translateY(-50%);
}

#parcours #etape-autonome-cards #etape-autonome-animation-connector {
  position: absolute;
  left: -1.5rem;
  top: 6rem;
  width: 1.5rem;
  height: 1px;
  background-color: #d9d9d9;
  transform: translateY(-50%);
  pointer-events: none;
}

#parcours #etape-autonome-cards #etape-autonome-coaching-connector {
  position: absolute;
  left: -1.5rem;
  top: 12rem;
  width: 1.5rem;
  height: 1px;
  background-color: #d9d9d9;
  transform: translateY(-50%);
  pointer-events: none;
}

#parcours #etape-autonome h1 {
  background: #FBE357;
}

#parcours #etape-autonome .etape-details {
  border-left: solid #FBE357 0.25rem; 
}

#parcours #etape-autonome #etape-autonome-preconisations {
  font-size: 0.85rem;
  font-style: italic;
}

#parcours #etape-experimentee {
}

#parcours #etape-experimentee h1 {
  background: #DD376F;
}

#parcours #etape-experimentee .etape-details {
  border-left: solid #DD376F 0.25rem; 
}

#parcours #etape-formateurrice {
}

#parcours #etape-formateurrice h1 {
  background: #41AD8E;
}

#parcours #etape-formateurrice .etape-details {
  border-left: solid #41AD8E 0.25rem; 
}


#parcours article footer {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  margin-left: 0.75rem;
  font-size: 1rem;
  align-items: center;

  clip-path: polygon(
    0 0,
    calc(100% - 1.5rem) 0,
    100% 50%,
    calc(100% - 1.5rem) 100%,
    0 100%
  );
}

#parcours #etape-neoanim footer {
  background: #d9d9d9;
  width: calc(4 * (100% + 1rem));
  height: 2.25rem
}

#parcours #etape-autonome footer {
  background: #FBE357;
  width: calc(3 * (100% + 1rem));
  height: 3.75rem
}

#parcours #etape-experimentee footer {
  background: #DD376F;
  color: white;
  width: calc(2 * (100% + 1rem));
  height: 2.25rem
}

#parcours #etape-formateurrice footer {
  background: #41AD8E;
  color: white;
  width: calc(1 * (100% + 1rem));
  height: 2.25rem
}

#parcours #etape-neoanim .etape-details {
  height: 25.5rem;
}

#parcours #etape-autonome .etape-details {
  height: 21.5rem;
}

#parcours #etape-experimentee .etape-details {
  height: 19rem;
}

#parcours #etape-formateurrice .etape-details {
  height: 16.5rem;
}

@media (max-width: 1199px) {

  #parcours #etape-neoanim .etape-details {
    height: 28.25rem;
  }

  #parcours #etape-neoanim  {
    margin-bottom: 1rem;
  }

  #parcours #etape-neoanim footer {
    width: calc(2 * (100% + 1rem));
  }

  #parcours #etape-autonome footer {
    width: calc(1 * (100% + 1rem));
    height: 6.5rem
  }
}

@media (max-width: 992px) {
  #parcours #etape-neoanim footer {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  #parcours #etape-autonome footer {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  #parcours #etape-experimentee footer {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  #parcours #etape-formateurrice footer {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  #parcours #etape-neoanim .etape-details {
    height: auto;
  }

  #parcours #etape-autonome .etape-details {
    height: auto;
  }

  #parcours #etape-experimentee .etape-details {
    height: auto;
  }

  #parcours #etape-formateurrice .etape-details {
    height: auto;
  }
}